<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493650326205-pvciv0v2sr5jiilit1pnvvrir7tb7355.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493650326205-pvciv0v2sr5jiilit1pnvvrir7tb7355</string>
	<key>API_KEY</key>
	<string>AIzaSyBLRAg9St9MqVk7UxEVotLmAqnSMbb9w14</string>
	<key>GCM_SENDER_ID</key>
	<string>493650326205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.CristianCastillo.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chatios13-9b173</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chatios13-9b173.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493650326205:ios:183ba04259c47f202bfdd4</string>
</dict>
</plist>